@charset "utf-8";
/* !important
Theme Name: Tema Medicina Estética
Theme URI: nandes.ingsistemas@gmail.com
Author: Fernando Javier Averanga Aruquipa
Author URI: nandes.ingsistemas@gmail.com
Description: Tema creado para Dra. Sandra Irusta
Version: 1.0
Tags: tema, nandes, averanga aruquipa, Fernando Averanga Aruquipa
*/
body{
  background:#b2dfdb;
}
.icon-block{
  padding:0 15px;
}
iframe{
  width:100%;
  height:500px;
}
.icon-block .material-icons{
  font-size:inherit;
}
nav .logo-titulo{position:relative;float:left;}
nav .logo-titulo h1.dra{position:relative;font-size:40px;width:390px;font-weight:700;margin:20px 0 0;}
nav .logo-titulo h2.dra{font-size:24.5px;font-weight:500;margin:-14px 0;position:relative;display:block;width:390px;text-align:center;line-height:24px;}
@media only screen and (max-width:993px){nav .logo-titulo{position:absolute;float:none;left:50%;margin-left:-194px;}}
@media only screen and (max-width:600px){nav .logo-titulo{transform:scale(.8) translatey(-9px);}}
nav li .botones{height:100%;}
nav ul{padding:5px 0;}
nav ul a.btn{margin-left:0;margin-right:10px;}
nav [class*=mdi-],nav [class^=mdi-],nav i,nav i.material-icons{font-size:54px;line-height:0;font-size:35px;margin-top:-23px;}
nav .button-collapse:hover{color:#00ffd2;}
nav .button-collapse{margin:60px 0 0;height:auto;float:right;}
.tabs .tab h2{
  font-size:24.96px;
  font-size:1.56rem;
  line-height:0;
  margin:20.8px 0 -137.216px;
  margin:1.3rem 0 -8.576rem;
}
@media only screen and (min-width:601px){
  nav a.button-collapse{ height:auto;line-height:15px;}
}
#logo-container{
  font-family:Open Sans Condensed,sans-serif;
  padding:3px 15px;
  line-height:42px;
  background:#005d53;
  border-radius:4px;
  margin:18px 0;
  transition:.4s;
  -moz-transition:all .4s ease-in-out;
  -o-transition:all .4s ease-in-out;
  -webkit-transition:all .4s ease-in-out;
}
#logo-container:hover{
  color:#00ffd2;
}
.parallax-container{
  border:7px solid #00897b;
  height:500px;
}
.parallax-container h3 span{
  color:#fff;
  border-radius:2px;
  font-size:17px;
  padding:2px 9px;
  background:#007a6e;
  background:rgba(0,122,110,.65);
  cursor:default;
}
.parallax-container h3{
  line-height:15%;
}
.text-parallax{
  margin-top:60px;
}
.btn{
  text-transform:none;
}
.justificado{
  text-align:justify;
}
.revista{
  padding:0 15px;
  margin-top:10px;
}
li.revista{
  padding:0 15px;
  margin-top:3px;
}

.img-revista{
  padding:10px 0 0;
}
.nav-extended h2{font-size:31.84px;font-size:1.99rem;line-height:14%;}
h1.medicina{font-size:32px;margin:3px 0 0;}
h1.medicina b{line-height:50px;font-size:41px;font-weight:700;font-family:Raleway,sans-serif;}
.right.hide-on-med-and-down .btn{
  background-color:#24a192;
}
.right.hide-on-med-and-down .btn:hover{
  background-color:#028272; color:#00ffd2;;
}
.nav-extended .btn-large:hover{
  background-color:#107d73;
  color:#00ffd2;
}
.container h2.titulo{
  text-shadow:0 0 0 #000,0 0 0 #000,0 0 1px #000;
  margin:0;
  text-align:center;
  color:#fff;
  background:#00897b;
  padding:5px;
  border-radius:5px 5px 0 0;
}
.container h3.titulo{
  padding:2px;
  border-radius:5px 5px 0 0;
  font-size:40px;
  font-size:2.5rem;
}
.container h3.titulo,.container h4.titulo{
  text-shadow:0 0 0 #000,0 0 0 #000,0 0 1px #000;
  margin:0;
  text-align:center;
  color:#fff;
  background:#676767;
  font-weight:400;
}
.container h4.titulo{
  padding:4px 2px 5px;
  font-size:20.8px;
  font-size:1.3rem;
}
.card{
  margin:0 0 16px;
  margin:0 0 1rem;
}
.card .card-image img{top:9px;}
.contactos{
  background:#fff;
  margin-left:0;
  margin-right:0;
  border-right:5px solid #00897b;
  border-bottom:5px solid #00897b;
  border-left:5px solid #00897b;
}
p.p{
  margin:3px 0;
}
.contactos h4{
  background:#00897b;
  padding:6px;
  color:#fff;
  text-align:center;
  margin:0;
}
.bien{margin-top:15px;    margin-top:0;}

section{
  background:#f3f3f3;
  box-shadow:0 0 10px #949494;
  border-radius:0 0 5px 5px;
  border-right:5px solid #00897b;
  border-bottom:5px solid #00897b;
  border-left:5px solid #00897b;
  padding:4%;
}
section.section{
  padding:10px 1.5%;
  padding-bottom:16px;
  padding-bottom:1rem;
}
section img{
  border:3px solid #c7c7c7;
}
textarea.materialize-textarea{
  overflow-y:hidden;
  padding:12.8px 0 25.6px;
  padding:.8rem 0 1.6rem;
  resize:none;
  min-height:160px;
  min-height:10rem;
}
.input-field{
  margin-top:0;
  line-height:.7;
}
.input-field .prefix{
  font-size:1.2em;
  left:15px;
  line-height:.6;
}
.input-field label{
  color:#878787;
  top:1.6px;
  top:.1rem;
  font-size:12.8px;
  font-size:.8rem;
}
input:not([type]),input[type=date],input[type=datetime-local],input[type=datetime],input[type=email],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=time],input[type=url],textarea.materialize-textarea{
  height:20.8px;
  height:1.3rem;
}
p.p{
  margin-bottom:5px;
}
footer.page-footer{padding-top:10px;}
footer h1,footer h5{background:#00796b;padding:4px;border-radius:5px 5px 0 0;margin:10px 0 0;}
footer #datos{text-align:center;background:#009887;padding:2% 3%;height:129px;line-height:1.2;margin:0;border-radius:0 0 5px 5px;}
footer #datos p{margin:0;}
footer #datos a{font-weight:700;color:#fff;transition:.4s;}
footer #datos a:hover{color:#65ffe3;transition:all .4s ease-in-out;transform:translateX(2px);}
footer a{color:#fff;}
footer a img:hover{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";opacity:.6;filter:alpha(opacity=50);transition:all .4s ease-in-out;}
footer .col.s12.m6.l6{padding:0;}
p.ah{
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  opacity:.4;
}
p.ah,p.ah:hover,p.ah a:hover{
  transition:.4s;
  -moz-transition:all .4s ease-in-out;
  -o-transition:all .4s ease-in-out;
  -webkit-transition:all .4s ease-in-out;
}
p.ah:hover,p.ah a:hover{
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity:1;
  color:#00ffd2;
}
#ir-arriba span{
  cursor:pointer;
  text-shadow:#000 0 1px 0;
  position:fixed;
  font-size:30px;
  bottom:15px;
  right:20px;
}
.drairusta-block{
  display:block;
}
.drairusta-responsive{
  display:none;
}
li.punto-li{
  margin-left:2%;
}
.video-responsive{
  position:relative;
  width:100%;
  padding-bottom:57.5%;
}
.video-responsive iframe{
  position:absolute;
  top:0;
  width:100%;
  height:100%;

}
.container{
  width:85%;
}
@media only screen and (max-width:993px){
  .dra a{
    left:100%;
  }
  .nav-extended h2{
    font-size:1.9rem;
    line-height:14%;
  }
  .drairusta-block{
    display:none;
  }
  .drairusta-responsive{
    display:block;
  }
}
@media only screen and (max-width:850px){
  .nav-extended h2 i{
    display:none;
  }
}
@media only screen and (max-width:700px){
  .nav-extended h2{
    font-size:1.4rem;
    line-height:14%;
  }
}
@media only screen and (max-width:450px){
  nav .button-collapse{margin:90px 0 0;}
  #logo-container{margin:18px 0;}
  .nav-extended h2{
    font-size:1rem;
    line-height:14%;
  }
}
