@charset "utf-8";
/* !important
Theme Name: Tema Medicina Estética
Theme URI: nandes.ingsistemas@gmail.com
Author: Fernando Javier Averanga Aruquipa
Author URI: nandes.ingsistemas@gmail.com
Description: Tema creado para Dra. Sandra Irusta
Version: 1.0
Tags: tema, nandes, averanga aruquipa, Fernando Averanga Aruquipa
*/
body{
  background: #b2dfdb;
}
.icon-block {
  padding: 0 15px;
}
iframe {
  width: 100%;
  height: 500px;
}
.icon-block .material-icons {
  font-size: inherit;
}
nav{
  .logo-titulo{position: relative;float: left;
    h1.dra{position: relative;font-size: 40px;width: 390px;font-weight: bold;margin: 20px 0 0 0;}
    h2.dra{font-size: 24.5px;font-weight: 500;margin: -14px 0;position: relative;display: block;width: 390px;text-align: center;line-height: 24px;}
    @media only screen and (max-width: 993px) {position: absolute;float: none;left: 50%;margin-left: -194px;}
    @media only screen and (max-width: 600px) {transform: scale(0.8) translatey(-9px);}
  }
  li .botones{height: 100%;}
  ul {padding: 5px 0;
    a.btn{margin-left: 0px;margin-right: 10px;}
  }
  i, [class^="mdi-"], [class*="mdi-"], i.material-icons {font-size: 54px;line-height: 0;font-size: 35px;margin-top: -23px;}
  .button-collapse:hover {color: #00ffd2;}
  .button-collapse {margin: 60px 0 0 0;height: auto;float: right;}
}
.tabs .tab h2 {
  font-size: 1.56rem;
  line-height: 0;
  margin: 1.3rem 0 -8.576rem 0;
}
@media only screen and (min-width: 601px){
  nav a.button-collapse{ height: auto;line-height: 15px;}
}
#logo-container{
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 3px 15px;
  line-height: 42px;
  background: #005d53;
  border-radius: 4px;
  margin: 18px 0;
  transition: 0.4s;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
#logo-container:hover{
  color: #00ffd2;
}
.parallax-container{
  border: 7px solid #00897b;
  height: 500px;
}
.parallax-container h3 span{
  color: white;
  border-radius: 2px;
  font-size: 17px;
  padding: 2px 9px;
  background: rgba(0, 122, 110, 0.65);
  cursor: default;
}
.parallax-container h3 {
  line-height: 15%;
}
.text-parallax{
  margin-top: 60px;
}
.btn {
  text-transform: none;
}
.justificado{
  text-align: justify;
}
.revista{
  padding: 0px 15px;
  margin-top: 10px;
}
li.revista{
  padding: 0px 15px;
  margin-top: 3px;
}

.img-revista{
  padding: 10px 0 0 0 ;
}
.nav-extended h2 {font-size: 1.99rem;line-height: 14%;}
h1.medicina{font-size: 32px;margin: 3px 0 0 0;}
h1.medicina b{line-height: 50px;font-size: 41px;font-weight: bold;font-family: 'Raleway', sans-serif;}
.right.hide-on-med-and-down .btn{
  background-color: #24a192;
}
.right.hide-on-med-and-down .btn:hover {
  background-color: #028272; color: #00ffd2;;
}
.nav-extended .btn-large:hover {
  background-color: #107d73;
  color: #00ffd2;
}
.container h2.titulo{
  text-shadow: 0 0px 0px #000, 0 0px 0px #000, 0 0px 1px #000;
  margin: 0;
  text-align: center;
  color:white;
  background: rgb(0, 137, 123);
  padding: 5px;
  border-radius: 5px 5px 0 0;
}
.container h3.titulo{
  text-shadow: 0 0px 0px #000, 0 0px 0px #000, 0 0px 1px #000;
  margin: 0;
  text-align: center;
  color:white;
  background: rgb(103, 103, 103);
  padding: 2px;
  border-radius: 5px 5px 0 0;
  font-size: 2.5rem;
  font-weight: 400;
}
.container h4.titulo {
  text-shadow: 0 0px 0px #000, 0 0px 0px #000, 0 0px 1px #000;
  margin: 0;
  text-align: center;
  color: white;
  background: rgb(103, 103, 103);
  padding: 4px 2px 5px 2px;
  font-size: 1.3rem;
  font-weight: 400;
}
.card {
  margin: 0 0 1rem 0;
}
.card .card-image img {top: 9px;}
.contactos{
  background: white;
  margin-left: 0;
  margin-right: 0;
  border-right: 5px solid #00897b;
  border-bottom: 5px solid #00897b;
  border-left: 5px solid #00897b;
}
p.p{
  margin: 3px 0;
}
.contactos h4{
  background: #00897b;
  padding: 6px;
  color: white;
  text-align: center;
  margin: 0;
}
.bien{margin-top: 15px;    margin-top: 0;}

section{
  background: #f3f3f3;
  box-shadow: 0em 0em 10px #949494;
  border-radius: 0 0 5px 5px;
  border-right: 5px solid #00897b;
  border-bottom: 5px solid #00897b;
  border-left: 5px solid #00897b;
  padding: 4%;
}
section.section {
  padding: 10px 1.5%;
  padding-bottom: 1rem;
}
section img{
  border: 3px solid #c7c7c7;
}
textarea.materialize-textarea {
  overflow-y: hidden;
  padding: .8rem 0 1.6rem 0;
  resize: none;
  min-height: 10rem;
}
.input-field {
  margin-top: 0rem;
  line-height: 0.7;
}
.input-field .prefix {
  font-size: 1.2em;
  left: 15px;
  line-height: 0.6;
}
.input-field label {
  color: #878787;
  top: 0.1rem;
  font-size: 0.8rem;
}
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  height: 1.3rem;
}
p.p{
  margin-bottom:5px;
}
footer.page-footer {padding-top: 10px;}
footer{
  h5, h1{background: #00796b;padding: 4px;border-radius: 5px 5px 0 0;margin: 10px 0 0 0;}
  #datos{text-align: center;background: #009887;padding: 2% 3%;height: 129px;line-height: 1.2;margin: 0;border-radius: 0 0 5px 5px;
    p{margin: 0;}
    a{font-weight: bold;color: #ffffff;transition: 0.4s;}
    a:hover{color: #65ffe3;transition: all 0.4s ease-in-out;transform: translateX(2px);}
  }
  a {color: white;
    img:hover{opacity: 0.6;filter: alpha(opacity=50);transition: all 0.4s ease-in-out;}
  }
  .col.s12.m6.l6{padding: 0;}
}
p.ah{
  opacity: 0.4;
  transition: 0.4s;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
p.ah:hover, p.ah a:hover{
  opacity: 1;
  color: #00ffd2;
  transition: 0.4s;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
#ir-arriba span {
  cursor: pointer;
  text-shadow: rgb(0, 0, 0) 0 1px 0px;
  position: fixed;
  font-size: 30px;
  bottom: 15px;
  right: 20px;
}
.drairusta-block{
  display: block;
}
.drairusta-responsive{
  display: none;
}
li.punto-li{
  margin-left: 2%;
}
.video-responsive{
  position: relative;
  width: 100%;
  padding-bottom: 57.5%;
}
.video-responsive iframe{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

}
/*@media only screen and (max-width: 1150px)
{
  h1.dra, h2.dra{
    display: none;
  }
}*/
@media only screen and (max-width: 1000px){
}
.container {
  width: 85%;
}
@media only screen and (max-width: 993px)
{
  .dra a{
    left: 100%;
  }
  .nav-extended h2 {
    font-size: 1.9rem;
    line-height: 14%;
  }
  .drairusta-block{
    display: none;
  }
  .drairusta-responsive{
    display: block;
  }
}
@media only screen and (max-width: 850px) {
  .nav-extended h2 i{
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  .nav-extended h2 {
    font-size: 1.4rem;
    line-height: 14%;
  }
}
@media only screen and (max-width: 450px)
{
  nav .button-collapse {margin: 90px 0 0 0;}
  #logo-container {margin: 18px 0;}
  .nav-extended h2 {
    font-size: 1rem;
    line-height: 14%;
  }
}
